.about {
    margin: 4em 3em;
}
.headshot {
    width: 10em;
    border: 5px solid lightgray;
    float: right;
}
@media only screen and (max-width: 500px) {
    .headshot {
        width: 5em;
    }
}