.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em 3em;
}
.input, textarea {
    border: solid #ff9966 1px;
    border-radius: 8px;
    resize: none;
    margin: 1em;
    width: 50%;
    font-size: 1em;
}
textarea {
    height: 10em;
}
.btn {
    font-size: 1em;
    border-radius: 5px;
    padding: .5em;
    background-color: #ff9966;
    color: #fff;
}

@media only screen and (max-width: 500px) {
    .contactContainer {
        margin: 4em 1em;
    }
    .input, textarea {
        border: solid #ff9966 1px;
        border-radius: 8px;
        resize: none;
        margin: 1em;
        width: 90%;
        font-size: 1em;
    }
}