.navbar {
    position: fixed;
    text-align: center;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
li {
    list-style-type: none;
    cursor: pointer;
    margin: 1em;
}
li:hover {
    color: gray;
}
@media only screen and (max-width: 500px) {
    ul {
        justify-content: space-between;
    }
}